
<form action='/post/completion' method='post'>
  
  <label for='listing_item'>Item</label>
  <input type='text' id='listing_item' name="listing[item]"/>
  <br>
  <label for='listing_price'>Price</label>
  <input type='integer' id='listing_price' name="listing[price]"/>
  <br>
  <label for='listing_description'>Description</label>
  <input type='text' id='listing_description' name="listing[description]"/>
  <br>
  <label for='listing_email'>Email</label>
  <input type='text' id='listing_email' name="listing[email]"/>
  <br>
  <label for='listing_cat_id'>Category Id</label>
  <input type='integer' id='listing_cat_id' name="listing[category_id]"/>

  <input type='submit'/>
</form>
